<%= render 'account/shared/page' do |page| %>
  <% page.title "Lodging" %>
 <% reservations = Reservation.all.limit(20) %>
<% team = @team %>
<% context ||= team %>
<% collection ||= :reservations %>
<% hide_actions ||= false %>
<% hide_back ||= false %>
<% end %>


<% Location.all.each do |location| %>
<div class="grid grid-cols-1 md:grid-cols-4 gap-4 w-full mt-4">
  <% location.item_areas.each do |area| %>
    <div class="flex w-full p-4 flex-col rounded-lg bg-white shadow-sm border border-slate-200">
      <h1><%= area.name %></h1>
      <div class="flex items-center gap-4 text-slate-800">
        <table style="width: 100%; border-collapse: collapse;">
          <thead>
            <th>Room</th>
            <th>Status</th>
          </thead>
          <% area.items.each do |item| %>
            <% item.reservations.each do |reservation| %>
              <tr>
                <td><strong><%= item.name %>:</strong> <%= item.area.name %></td>
                <td>
                  <% if reservation.start_time.future? %>
                    <%= link_to "#{(reservation.start_time.to_date - Date.today).to_i} days", [:edit, :account, reservation] %>
                  <% else %>
                    In Use
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>
<% end %>

